*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    margin:0 auto;
    width: 80%;
}

h1{ 
    text-align: center;
    color: #363636;
}

input{
    width: 100%;
    font-size: 1.2em;
}

label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    background-color: #363636;
    color: #ffffff;
    font-size: 1.2em;
    padding: .2em;
    min-width: 10%;
    cursor: pointer;
}
